In [1]:
import pandas as pd
import os
pd.options.mode.chained_assignment= None

In [2]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [3]:
# all_matches_data.to_csv('Combo_Match1_to_Match13.csv',index=False)

In [4]:
 df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match13.csv',index_col='Players')

In [5]:
df.Sixes.sum()

159

In [6]:
df.Fours.sum()

382

In [7]:
df.groupby('Team').Fours.sum().nlargest(8)

Team
Delhi Capitals                79
Mumbai Indians                51
Royal Challengers Banglore    48
Kolkata Knight Riders         46
Punjab Kings                  45
Rajasthan Royals              44
Chennai Super Kings           42
Sunrisers Hyderabad           27
Name: Fours, dtype: int64

In [8]:
df.groupby('Team').Sixes.sum().nlargest(8)

Team
Punjab Kings                  25
Rajasthan Royals              24
Chennai Super Kings           22
Sunrisers Hyderabad           22
Kolkata Knight Riders         20
Mumbai Indians                19
Royal Challengers Banglore    15
Delhi Capitals                12
Name: Sixes, dtype: int64

# BATSMAN

In [9]:
batsman_played= df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s','Vs','Times Out']]

In [10]:
Batsman= batsman_played[batsman_played['Balls'] >=1]

In [11]:
Batsman.replace(to_replace=['Yes','No'],value=[0,1],inplace=True)

In [12]:
Batsman['Times Out'] = Batsman['Times Out'].astype(float)

In [13]:
BR= Batsman.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','50s','100s','Times Out']].sum().nlargest(100,columns=['Batsman Runs'])

In [14]:
BR['Strike Rate'] = BR['Batsman Runs']/BR['Balls']*100

In [15]:
batsman= BR.round(2)

In [16]:
batsman.loc[batsman['Times Out'] ==0,'Average']  = batsman['Batsman Runs']/batsman['Match Played']
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] == 1),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] >= 2),'Average'] = batsman['Batsman Runs']/(batsman['Match Played']-batsman['Times Out'])
batsman.loc[(batsman['Times Out'] == 2) & (batsman['Match Played'] == 2),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 3) & (batsman['Match Played'] == 3),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 2) & (batsman['Match Played'] >= 3),'Average'] = batsman['Batsman Runs']/(batsman['Match Played']-1)

In [17]:
batsman.loc[batsman['Balls'] >=1 , 'Innings'] = batsman['Match Played']

In [18]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate,Average,Innings
Players,Team,,,,,,,,,,,
Shikhar Dhawan,Delhi Capitals,4,231,156,29,5,2,0,0.0,148.08,57.75,4

## Most Runs

In [19]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(15,'Batsman Runs').round(2)

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
Shikhar Dhawan,Delhi Capitals,4,4,231,57.75
Glenn Maxwell,Royal Challengers Banglore,3,3,176,58.67
KL Rahul,Punjab Kings,3,3,157,52.33
Nitish Rana,Kolkata Knight Riders,3,3,155,51.67
Rohit Sharma,Mumbai Indians,4,4,138,34.50
AB de Villiers,Royal Challengers Banglore,3,3,125,62.50
Sanju Samson,Rajasthan Royals,3,3,124,41.33
Suryakumar Yadav,Mumbai Indians,4,4,121,30.25
Prithvi Shaw,Delhi Capitals,4,4,113,28.25
Jonny Bairstow,Sunrisers Hyderabad,3,3,110,36.67
Moeen Ali,Chennai Super Kings,3,3,108,36.00
Manish Pandey,Sunrisers Hyderabad,3,3,101,50.50
Deepak Hooda,Punjab Kings,3,3,96,48.00
David Warner,Sunrisers Hyderabad,3,3,93,31.00
Rishabh Pant,Delhi Capitals,4,4,88,29.33