In [1]:
import pandas as pd
import os
pd.options.mode.chained_assignment= None

In [2]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [3]:
# all_matches_data.to_csv('Combo_Match1_to_Match16.csv',index=False)

In [4]:
 df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match16.csv',index_col='Players')

In [5]:
df.Sixes.sum()

207

In [6]:
df.Fours.sum()

465

In [7]:
df.groupby('Team').Sixes.sum().nlargest(8)

Team
Chennai Super Kings           34
Kolkata Knight Riders         34
Rajasthan Royals              31
Punjab Kings                  27
Sunrisers Hyderabad           26
Royal Challengers Banglore    24
Mumbai Indians                19
Delhi Capitals                12
Name: Sixes, dtype: int64

In [8]:
df.groupby('Team').Fours.sum().nlargest(8)

Team
Delhi Capitals                79
Royal Challengers Banglore    65
Kolkata Knight Riders         62
Rajasthan Royals              62
Chennai Super Kings           61
Punjab Kings                  52
Mumbai Indians                51
Sunrisers Hyderabad           33
Name: Fours, dtype: int64

# 1. BATSMAN

In [9]:
Batsman=df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s','Vs','Times Out']]

In [10]:
Batsman.replace(to_replace=['Yes','No'],value=[0,1],inplace=True)

In [11]:
Batsman['Times Out'] = Batsman['Times Out'].astype(float)

In [12]:
BR=Batsman.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','50s','100s','Vs','Times Out']].sum().nlargest(1000,'Batsman Runs')

In [13]:
BR['Strike Rate'] = BR['Batsman Runs']/BR['Balls']*100

In [14]:
batsman= BR.round(2)

In [15]:
batsman.loc[batsman['Balls'] >=1 , 'Innings'] = batsman['Match Played']

In [16]:
batsman.loc[(batsman['Times Out'] == 0) & (batsman['Match Played'] >=1) ,'Average'] = batsman['Batsman Runs']/batsman['Match Played']
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] == 1),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] >= 2),'Average'] = batsman['Batsman Runs']/(batsman['Match Played']-batsman['Times Out'])
batsman.loc[(batsman['Times Out'] == 2) & (batsman['Match Played'] == 2),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 2) & (batsman['Match Played'] >= 3),'Average'] = batsman['Batsman Runs']/(batsman['Match Played']-batsman['Times Out'])
batsman.loc[(batsman['Times Out'] == 3) & (batsman['Match Played'] == 3),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 3) & (batsman['Match Played'] >=4),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 4) & (batsman['Match Played'] ==4),'Average'] = batsman['Batsman Runs']

# 1. a) Most Runs

In [17]:
batsman[['Match Played','Batsman Runs','Average']].nlargest(15,'Batsman Runs').round(2)

,,Match Played,Batsman Runs,Average
Players,Team,,,
Shikhar Dhawan,Delhi Capitals,4,231,57.75
Glenn Maxwell,Royal Challengers Banglore,4,176,58.67
Jonny Bairstow,Sunrisers Hyderabad,4,173,57.67
du Plessis,Chennai Super Kings,4,164,82.00
Nitish Rana,Kolkata Knight Riders,4,164,41.00
KL Rahul,Punjab Kings,4,161,40.25
Sanju Samson,Rajasthan Royals,4,145,36.25
Virat Kohli,Royal Challengers Banglore,4,143,47.67
Rohit Sharma,Mumbai Indians,4,138,34.50
Devdutt Padikkal,Royal Challengers Banglore,3,137,68.50
Moeen Ali,Chennai Super Kings,4,133,33.25
David Warner,Sunrisers Hyderabad,4,130,32.50
AB de Villiers,Royal Challengers Banglore,4,125,62.50
Suryakumar Yadav,Mumbai Indians,4,121,30.25
Prithvi Shaw,Delhi Capitals,4,113,28.25

# 1. b) Highest Score

In [18]:
Batsman[['Batsman Runs','Balls','Strike Rate','Vs']].nlargest(15,'Batsman Runs')

                  Batsman Runs  Balls  Strike Rate    Vs
Players
Sanju Samson               119     63       188.89  PBKS
Devdutt Padikkal           101     52       194.23    RR
du Plessis                  95     60       158.33   KKR
Shikhar Dhawan              92     49       187.76  PBKS
KL Rahul                    91     50       182.00    RR
Shikhar Dhawan              85     54       157.41   CSK
Nitish Rana                 80     56       142.86   SRH
Glenn Maxwell               78     49       159.18   KKR
AB de Villiers              76     34       223.53   KKR
Virat Kohli                 72     47       153.19    RR
Prithvi Shaw                72     38       189.47   CSK
Mayank Agarwal              69     36       191.67    DC
Pat Cummins                 66     34       194.12   CSK
Rituraj Gaikwad             64     42       152.38   KKR
Deepak Hooda                64     28       228.57    RR

# 1. c) Best Batting Average

In [19]:
Avg= batsman[batsman['Match Played'] >=2]
Avg[['Match Played','Batsman Runs','Average']].nlargest(15,'Average').round(2)

,,Match Played,Batsman Runs,Average
Players,Team,,,
du Plessis,Chennai Super Kings,4,164,82.00
Devdutt Padikkal,Royal Challengers Banglore,3,137,68.50
AB de Villiers,Royal Challengers Banglore,4,125,62.50
Glenn Maxwell,Royal Challengers Banglore,4,176,58.67
Shikhar Dhawan,Delhi Capitals,4,231,57.75
Jonny Bairstow,Sunrisers Hyderabad,4,173,57.67
Lalit Yadav,Delhi Capitals,3,54,54.00
Manish Pandey,Sunrisers Hyderabad,3,101,50.50
Virat Kohli,Royal Challengers Banglore,4,143,47.67
Shahrukh Khan,Punjab Kings,4,90,45.00
Nitish Rana,Kolkata Knight Riders,4,164,41.00
KL Rahul,Punjab Kings,4,161,40.25
Deepak Hooda,Punjab Kings,4,109,36.33
Sanju Samson,Rajasthan Royals,4,145,36.25
Pat Cummins,Kolkata Knight Riders,4,72,36.00

# 1. d) Best Batting Strike Rate

In [20]:
SR= batsman[batsman['Batsman Runs'] >=50]
SR[['Match Played','Batsman Runs','Strike Rate']].nlargest(15,'Strike Rate')

,,Match Played,Batsman Runs,Strike Rate
Players,Team,,,
Sam Curran,Chennai Super Kings,4,52,208.00
Pat Cummins,Kolkata Knight Riders,4,72,194.59
AB de Villiers,Royal Challengers Banglore,4,125,189.39
Prithvi Shaw,Delhi Capitals,4,113,173.85
Sanju Samson,Rajasthan Royals,4,145,162.92
Deepak Hooda,Punjab Kings,4,109,162.69
Andre Russell,Kolkata Knight Riders,4,99,159.68
Moeen Ali,Chennai Super Kings,4,133,152.87
Suryakumar Yadav,Mumbai Indians,4,121,151.25
Glenn Maxwell,Royal Challengers Banglore,4,176,149.15
Shikhar Dhawan,Delhi Capitals,4,231,148.08
Devdutt Padikkal,Royal Challengers Banglore,3,137,147.31
Ambati Rayudu,Chennai Super Kings,4,50,147.06
Dinesh Karthik,Kolkata Knight Riders,4,72,146.94
Shubman Gill,Kolkata Knight Riders,4,69,146.81

# 1. e) Most Hundreds

In [21]:
batsman[['Match Played','Batsman Runs','100s']].nlargest(2,'100s')

                                             Match Played  Batsman Runs  100s
Players          Team
Sanju Samson     Rajasthan Royals                       4           145     1
Devdutt Padikkal Royal Challengers Banglore             3           137     1

# 1. f) Most Fifties

In [22]:
batsman[['Match Played','Batsman Runs','50s']].nlargest(15,'50s')

                                             Match Played  Batsman Runs  50s
Players          Team
Shikhar Dhawan   Delhi Capitals                         4           231    2
Glenn Maxwell    Royal Challengers Banglore             4           176    2
Jonny Bairstow   Sunrisers Hyderabad                    4           173    2
Nitish Rana      Kolkata Knight Riders                  4           164    2
KL Rahul         Punjab Kings                           4           161    2
du Plessis       Chennai Super Kings                    4           164    1
Virat Kohli      Royal Challengers Banglore             4           143    1
David Warner     Sunrisers Hyderabad                    4           130    1
AB de Villiers   Royal Challengers Banglore             4           125    1
Suryakumar Yadav Mumbai Indians                         4           121    1
Prithvi Shaw     Delhi Capitals                         4           113    1
Deepak Hooda     Punjab Kings                           4           109    1
Mayank Agarwal   Punjab Kings                           4           105    1
Manish Pandey    Sunrisers Hyderabad                    3           101    1
Andre Russell    Kolkata Knight Riders                  4            99    1

# 1. g) Most Fours

In [23]:
batsman[['Match Played','Batsman Runs','Fours']].nlargest(15,'Fours')

                                             Match Played  Batsman Runs  Fours
Players          Team
Shikhar Dhawan   Delhi Capitals                         4           231     29
Nitish Rana      Kolkata Knight Riders                  4           164     19
Glenn Maxwell    Royal Challengers Banglore             4           176     17
du Plessis       Chennai Super Kings                    4           164     16
Suryakumar Yadav Mumbai Indians                         4           121     16
KL Rahul         Punjab Kings                           4           161     15
Sanju Samson     Rajasthan Royals                       4           145     15
Virat Kohli      Royal Challengers Banglore             4           143     15
Devdutt Padikkal Royal Challengers Banglore             3           137     15
Moeen Ali        Chennai Super Kings                    4           133     14
AB de Villiers   Royal Challengers Banglore             4           125     13
Prithvi Shaw     Delhi Capitals                         4           113     13
Jonny Bairstow   Sunrisers Hyderabad                    4           173     12
David Warner     Sunrisers Hyderabad                    4           130     12
Rishabh Pant     Delhi Capitals                         4            88     12

# 1. h) Most Sixes

In [24]:
batsman[['Match Played','Batsman Runs','Sixes']].nlargest(15,'Sixes')

                                             Match Played  Batsman Runs  Sixes
Players          Team
Jonny Bairstow   Sunrisers Hyderabad                    4           173     10
Glenn Maxwell    Royal Challengers Banglore             4           176      8
Sanju Samson     Rajasthan Royals                       4           145      8
Deepak Hooda     Punjab Kings                           4           109      8
Andre Russell    Kolkata Knight Riders                  4            99      8
du Plessis       Chennai Super Kings                    4           164      7
Nitish Rana      Kolkata Knight Riders                  4           164      7
KL Rahul         Punjab Kings                           4           161      7
Rohit Sharma     Mumbai Indians                         4           138      7
Moeen Ali        Chennai Super Kings                    4           133      7
Pat Cummins      Kolkata Knight Riders                  4            72      7
Devdutt Padikkal Royal Challengers Banglore             3           137      6
Shikhar Dhawan   Delhi Capitals                         4           231      5
AB de Villiers   Royal Challengers Banglore             4           125      5
Prithvi Shaw     Delhi Capitals                         4           113      5

# 2. BOWLER

In [25]:
bowler_played= df[['Team','Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets','Economy Rate','Vs']]

In [26]:
Bowler= bowler_played[bowler_played['Bowler Balls'] >=1]

In [27]:
W= Bowler.groupby(by=['Players','Team'])[['Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets']].sum().nlargest(100,'Wickets')

In [28]:
W['Economy'] = W['Bowler Runs']/W['Over']

In [29]:
W['Average'] = W['Bowler Runs']/W['Wickets']

In [30]:
W['Strike Rate'] = W['Bowler Balls']/W['Wickets']

In [31]:
bowler = W.round(2)

In [32]:
bowler['Wickets'] =bowler['Wickets'].astype(int)

In [33]:
bowler.sort_values(by='Wickets',ascending=False).shape

(73, 9)

# 2. a) Most Wickets

In [34]:
bowler[['Match Played','Over','Wickets','Average']].nlargest(15,'Wickets')

,,Match Played,Over,Wickets,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,4,16.0,12,9.67
Deepak Chahar,Chennai Super Kings,4,15.0,8,13.75
Rahul Chahar,Mumbai Indians,4,16.0,8,14.75
Avesh Khan,Delhi Capitals,4,14.0,8,12.88
Andre Russell,Kolkata Knight Riders,4,9.0,7,16.00
Kyle Jamieson,Royal Challengers Banglore,4,14.0,6,21.00
Trent Boult,Mumbai Indians,4,15.4,6,19.00
Chetan Sakariya,Rajasthan Royals,4,16.0,6,22.50
Chris Woakes,Delhi Capitals,3,11.0,5,16.40
Mohammed Siraj,Royal Challengers Banglore,4,15.0,5,18.20
Chris Morris,Rajasthan Royals,4,14.0,5,27.80
Arshdeep Singh,Punjab Kings,4,12.4,5,19.00
Moeen Ali,Chennai Super Kings,3,9.0,4,14.25
Pat Cummins,Kolkata Knight Riders,4,16.0,4,36.50
Sam Curran,Chennai Super Kings,4,13.0,4,29.50

# 2. b) Best Bowling Average

In [35]:
BA= bowler[bowler['Wickets'] >5]
BA[['Match Played','Over','Wickets','Average']].nsmallest(15,'Average')

,,Match Played,Over,Wickets,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,4,16.0,12,9.67
Avesh Khan,Delhi Capitals,4,14.0,8,12.88
Deepak Chahar,Chennai Super Kings,4,15.0,8,13.75
Rahul Chahar,Mumbai Indians,4,16.0,8,14.75
Andre Russell,Kolkata Knight Riders,4,9.0,7,16.00
Trent Boult,Mumbai Indians,4,15.4,6,19.00
Kyle Jamieson,Royal Challengers Banglore,4,14.0,6,21.00
Chetan Sakariya,Rajasthan Royals,4,16.0,6,22.50

# 2. c) Best Economy

In [36]:
BE= bowler[bowler['Wickets'] >=1]
BE[['Match Played','Over','Wickets','Economy']].nsmallest(15,'Economy')

,,Match Played,Over,Wickets,Economy
Players,Team,,,,
Rashid Khan,Sunrisers Hyderabad,4,16.0,4,5.06
Fabian Allen,Punjab Kings,1,4.0,1,5.50
Lalit Yadav,Delhi Capitals,2,5.0,1,5.60
Khaleel Ahmed,Sunrisers Hyderabad,2,8.0,4,5.62
Abhishek Sharma,Sunrisers Hyderabad,2,5.0,2,5.80
Mohammed Siraj,Royal Challengers Banglore,4,15.0,5,6.07
Jasprit Bumrah,Mumbai Indians,4,16.0,4,6.25
Jayant Yadav,Mumbai Indians,1,4.0,1,6.25
Moeen Ali,Chennai Super Kings,3,9.0,4,6.33
Krunal Pandya,Mumbai Indians,4,13.0,3,6.54
Ravindra Jadeja,Chennai Super Kings,4,14.0,2,6.86
Jaydev Unadkat,Rajasthan Royals,2,8.0,3,6.88
Lungi Ngidi,Chennai Super Kings,1,4.0,3,7.00
Shahbaz Ahmed,Royal Challengers Banglore,2,3.0,3,7.00
Harshal Patel,Royal Challengers Banglore,4,16.0,12,7.25

# 2. d) Best Bowling Strike Rate

In [37]:
SR= bowler[bowler['Wickets'] >5]
SR[['Match Played','Over','Wickets','Strike Rate']].nsmallest(15,'Strike Rate')

,,Match Played,Over,Wickets,Strike Rate
Players,Team,,,,
Andre Russell,Kolkata Knight Riders,4,9.0,7,7.71
Harshal Patel,Royal Challengers Banglore,4,16.0,12,8.00
Avesh Khan,Delhi Capitals,4,14.0,8,10.50
Deepak Chahar,Chennai Super Kings,4,15.0,8,11.25
Rahul Chahar,Mumbai Indians,4,16.0,8,12.00
Kyle Jamieson,Royal Challengers Banglore,4,14.0,6,14.00
Trent Boult,Mumbai Indians,4,15.4,6,15.67
Chetan Sakariya,Rajasthan Royals,4,16.0,6,16.00

# 3. FIELDER

In [38]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0.0,0.0,0,0,0,0,RCB,Yes

In [39]:
fielder_played = df[['Team','Match Played','Catches','Run Out']]

# 3. a) Catches

In [40]:
 fielder_played.groupby(by=['Players','Team'])[['Match Played','Catches']].sum().nlargest(10,'Catches')

                                             Match Played  Catches
Players          Team
Ravindra Jadeja  Chennai Super Kings                    4        7
Shikhar Dhawan   Delhi Capitals                         4        7
AB de Villiers   Royal Challengers Banglore             4        4
Daniel Christian Royal Challengers Banglore             2        4
Deepak Hooda     Punjab Kings                           4        4
Rishabh Pant     Delhi Capitals                         4        4
Riyan Parag      Rajasthan Royals                       4        4
Dhoni            Chennai Super Kings                    4        3
Eoin Morgan      Kolkata Knight Riders                  4        3
Glenn Maxwell    Royal Challengers Banglore             4        3

# 3. b) Run Outs

In [41]:
fielder_played.groupby(by=['Players','Team'])[['Match Played','Run Out']].sum().nlargest(10,'Run Out')

                                           Match Played  Run Out
Players        Team
Hardik Pandya  Mumbai Indians                         4        2
Krunal Pandya  Mumbai Indians                         4        2
Virat Kohli    Royal Challengers Banglore             4        2
Chris Woakes   Delhi Capitals                         3        1
David Miller   Rajasthan Royals                       3        1
David Warner   Sunrisers Hyderabad                    4        1
Dinesh Karthik Kolkata Knight Riders                  4        1
Jasprit Bumrah Mumbai Indians                         4        1
Jonny Bairstow Sunrisers Hyderabad                    4        1
Mohammed Siraj Royal Challengers Banglore             4        1

# 4. ALL - ROUNDERS

In [42]:
All_Rounder = df.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','Over','Bowler Balls','Bowler Runs','Maiden','Wickets','Catches','Run Out','50s','100s']].sum()

In [43]:
all_rounder= All_Rounder[(All_Rounder['Balls'] >1) & (All_Rounder['Wickets'] >=1)]

In [44]:
all_rounder.shape

(42, 14)

In [45]:
all_rounder['Economy Rate'] = all_rounder['Bowler Runs']/all_rounder['Over']

In [46]:
all_rounder['Strike Rate'] = all_rounder['Batsman Runs']/all_rounder['Balls']*100

In [47]:
all_rounders= all_rounder.round(2)

# 4. a) All-Rounder with Highest Runs

In [48]:
all_rounders[['Match Played','Batsman Runs','Wickets']].nlargest(10,'Batsman Runs')

                                      Match Played  Batsman Runs  Wickets
Players        Team
Moeen Ali      Chennai Super Kings               4           133      4.0
Andre Russell  Kolkata Knight Riders             4            99      7.0
Rahul Tewatia  Rajasthan Royals                  4            81      1.0
Pat Cummins    Kolkata Knight Riders             4            72      4.0
Riyan Parag    Rajasthan Royals                  4            55      1.0
Lalit Yadav    Delhi Capitals                    3            54      1.0
Sam Curran     Chennai Super Kings               4            52      4.0
Kieron Pollard Mumbai Indians                    4            49      1.0
Chris Morris   Rajasthan Royals                  4            48      5.0
Vijay Shankar  Sunrisers Hyderabad               4            42      2.0

# 4. b) All-Rounder with Highest Wickets

In [49]:
all_rounders[['Match Played','Batsman Runs','Wickets']].nlargest(10,'Wickets')

                                           Match Played  Batsman Runs  Wickets
Players        Team
Harshal Patel  Royal Challengers Banglore             4             4     12.0
Rahul Chahar   Mumbai Indians                         4            14      8.0
Andre Russell  Kolkata Knight Riders                  4            99      7.0
Kyle Jamieson  Royal Challengers Banglore             4            27      6.0
Arshdeep Singh Punjab Kings                           4             1      5.0
Chris Morris   Rajasthan Royals                       4            48      5.0
Chris Woakes   Delhi Capitals                         3            15      5.0
Jasprit Bumrah Mumbai Indians                         4             4      4.0
Kagiso Rabada  Delhi Capitals                         3             9      4.0
Khaleel Ahmed  Sunrisers Hyderabad                    2             1      4.0