In [1]:
import pandas as pd
import os
pd.options.mode.chained_assignment= None

In [2]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [3]:
# all_matches_data.to_csv('Combo_Match1_to_Match2.csv',index=False)

In [4]:
df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match2.csv',index_col='Players')

In [5]:
df.Sixes.sum()

25

In [6]:
df.Fours.sum()

67

In [7]:
df.groupby('Team').Fours.sum().nlargest(8)

Team
Delhi Capitals                24
Chennai Super Kings           16
Mumbai Indians                15
Royal Challengers Banglore    12
Name: Fours, dtype: int64

In [8]:
df.groupby('Team').Sixes.sum().nlargest(8)

Team
Chennai Super Kings           10
Mumbai Indians                 6
Delhi Capitals                 5
Royal Challengers Banglore     4
Name: Sixes, dtype: int64

# 1. BATSMAN

In [9]:
Batsman=df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s','Vs','Times Out']]

In [10]:
Batsman.replace(to_replace=['Yes','No'],value=[0,1],inplace=True)

In [11]:
Batsman['Times Out'] = Batsman['Times Out'].astype(float)

In [12]:
BR=Batsman.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','50s','100s','Vs','Times Out']].sum().nlargest(1000,'Batsman Runs')

In [13]:
BR['Strike Rate'] = BR['Batsman Runs']/BR['Balls']*100

In [14]:
batsman= BR.round(2)

In [15]:
batsman.loc[batsman['Balls'] >=1 , 'Innings'] = batsman['Match Played']

In [16]:
batsman.loc[(batsman['Times Out'] == 0) & (batsman['Match Played'] >=1) ,'Average'] = batsman['Batsman Runs']/batsman['Match Played']
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] == 1),'Average'] = batsman['Batsman Runs']

# 1. a) Most Runs

In [17]:
batsman[['Match Played','Batsman Runs','Average']].nlargest(15,'Batsman Runs').round(2)

,,Match Played,Batsman Runs,Average
Players,Team,,,
Shikhar Dhawan,Delhi Capitals,1,85,85.0
Prithvi Shaw,Delhi Capitals,1,72,72.0
Suresh Raina,Chennai Super Kings,1,54,54.0
Chris Lynn,Mumbai Indians,1,49,49.0
AB de Villiers,Royal Challengers Banglore,1,48,48.0
Glenn Maxwell,Royal Challengers Banglore,1,39,39.0
Moeen Ali,Chennai Super Kings,1,36,36.0
Sam Curran,Chennai Super Kings,1,34,34.0
Virat Kohli,Royal Challengers Banglore,1,33,33.0
Suryakumar Yadav,Mumbai Indians,1,31,31.0
Ishan Kishan,Mumbai Indians,1,28,28.0
Ravindra Jadeja,Chennai Super Kings,1,26,26.0
Ambati Rayudu,Chennai Super Kings,1,23,23.0
Rohit Sharma,Mumbai Indians,1,19,19.0
Rishabh Pant,Delhi Capitals,1,15,15.0

# 2. b) Highest Scores

In [18]:
Batsman[['Batsman Runs','Balls','Strike Rate','Vs']].nlargest(15,'Batsman Runs')

                  Batsman Runs  Balls  Strike Rate   Vs
Players
Shikhar Dhawan              85     54       157.41  CSK
Prithvi Shaw                72     38       189.47  CSK
Suresh Raina                54     36       150.00   DC
Chris Lynn                  49     35       140.00  RCB
AB de Villiers              48     27       177.78   MI
Glenn Maxwell               39     28       139.29   MI
Moeen Ali                   36     24       150.00   DC
Sam Curran                  34     15       226.67   DC
Virat Kohli                 33     29       113.79   MI
Suryakumar Yadav            31     23       134.78  RCB
Ishan Kishan                28     19       147.37  RCB
Ravindra Jadeja             26     17       152.94   DC
Ambati Rayudu               23     16       143.75   DC
Rohit Sharma                19     15       126.67  RCB
Rishabh Pant                15     12       125.00  CSK

# 1. c) Best Batting Average

In [19]:
batsman[['Match Played','Batsman Runs','Average']].nlargest(15,'Average').round(2)

,,Match Played,Batsman Runs,Average
Players,Team,,,
Shikhar Dhawan,Delhi Capitals,1,85,85.0
Prithvi Shaw,Delhi Capitals,1,72,72.0
Suresh Raina,Chennai Super Kings,1,54,54.0
Chris Lynn,Mumbai Indians,1,49,49.0
AB de Villiers,Royal Challengers Banglore,1,48,48.0
Glenn Maxwell,Royal Challengers Banglore,1,39,39.0
Moeen Ali,Chennai Super Kings,1,36,36.0
Sam Curran,Chennai Super Kings,1,34,34.0
Virat Kohli,Royal Challengers Banglore,1,33,33.0
Suryakumar Yadav,Mumbai Indians,1,31,31.0
Ishan Kishan,Mumbai Indians,1,28,28.0
Ravindra Jadeja,Chennai Super Kings,1,26,26.0
Ambati Rayudu,Chennai Super Kings,1,23,23.0
Rohit Sharma,Mumbai Indians,1,19,19.0
Rishabh Pant,Delhi Capitals,1,15,15.0

# 1. d) Best Batting Strike Rate

In [20]:
batsman[['Match Played','Batsman Runs','Strike Rate']].nlargest(15,'Strike Rate')

,,Match Played,Batsman Runs,Strike Rate
Players,Team,,,
Sam Curran,Chennai Super Kings,1,34,226.67
Prithvi Shaw,Delhi Capitals,1,72,189.47
AB de Villiers,Royal Challengers Banglore,1,48,177.78
Shikhar Dhawan,Delhi Capitals,1,85,157.41
Marcus Stoinis,Delhi Capitals,1,14,155.56
Ravindra Jadeja,Chennai Super Kings,1,26,152.94
Suresh Raina,Chennai Super Kings,1,54,150.00
Moeen Ali,Chennai Super Kings,1,36,150.00
Ishan Kishan,Mumbai Indians,1,28,147.37
Ambati Rayudu,Chennai Super Kings,1,23,143.75
Chris Lynn,Mumbai Indians,1,49,140.00
Glenn Maxwell,Royal Challengers Banglore,1,39,139.29
Suryakumar Yadav,Mumbai Indians,1,31,134.78
Harshal Patel,Royal Challengers Banglore,1,4,133.33
Hardik Pandya,Mumbai Indians,1,13,130.00

# 1. e) Most Fifties

In [21]:
batsman[['Match Played','Batsman Runs','50s']].nlargest(3,'50s')

                                    Match Played  Batsman Runs  50s
Players        Team
Shikhar Dhawan Delhi Capitals                  1            85    1
Prithvi Shaw   Delhi Capitals                  1            72    1
Suresh Raina   Chennai Super Kings             1            54    1

# 1. f) Most Fours

In [22]:
batsman[['Match Played','Batsman Runs','Fours']].nlargest(15,'Fours')

                                             Match Played  Batsman Runs  Fours
Players          Team
Shikhar Dhawan   Delhi Capitals                         1            85     10
Prithvi Shaw     Delhi Capitals                         1            72      9
Chris Lynn       Mumbai Indians                         1            49      4
AB de Villiers   Royal Challengers Banglore             1            48      4
Moeen Ali        Chennai Super Kings                    1            36      4
Sam Curran       Chennai Super Kings                    1            34      4
Virat Kohli      Royal Challengers Banglore             1            33      4
Suryakumar Yadav Mumbai Indians                         1            31      4
Suresh Raina     Chennai Super Kings                    1            54      3
Glenn Maxwell    Royal Challengers Banglore             1            39      3
Ravindra Jadeja  Chennai Super Kings                    1            26      3
Marcus Stoinis   Delhi Capitals                         1            14      3
Ishan Kishan     Mumbai Indians                         1            28      2
Rishabh Pant     Delhi Capitals                         1            15      2
Hardik Pandya    Mumbai Indians                         1            13      2

# 1. g) Most Sixes

In [23]:
batsman[['Match Played','Batsman Runs','Sixes']].nlargest(12,'Sixes')

                                             Match Played  Batsman Runs  Sixes
Players          Team
Suresh Raina     Chennai Super Kings                    1            54      4
Prithvi Shaw     Delhi Capitals                         1            72      3
Chris Lynn       Mumbai Indians                         1            49      3
Shikhar Dhawan   Delhi Capitals                         1            85      2
AB de Villiers   Royal Challengers Banglore             1            48      2
Glenn Maxwell    Royal Challengers Banglore             1            39      2
Moeen Ali        Chennai Super Kings                    1            36      2
Sam Curran       Chennai Super Kings                    1            34      2
Ambati Rayudu    Chennai Super Kings                    1            23      2
Suryakumar Yadav Mumbai Indians                         1            31      1
Ishan Kishan     Mumbai Indians                         1            28      1
Rohit Sharma     Mumbai Indians                         1            19      1

# 2. BOWLER

In [24]:
bowler_played= df[['Team','Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets','Economy Rate','Vs']]

In [25]:
Bowler= bowler_played[bowler_played['Bowler Balls'] >=1]

In [26]:
W= Bowler.groupby(by=['Players','Team'])[['Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets']].sum().nlargest(100,'Wickets')

In [27]:
W['Economy'] = W['Bowler Runs']/W['Over']

In [28]:
W['Average'] = W['Bowler Runs']/W['Wickets']

In [29]:
W['Strike Rate'] = W['Bowler Balls']/W['Wickets']

In [30]:
bowler = W.round(2)

In [31]:
bowler['Wickets'] =bowler['Wickets'].astype(int)

In [32]:
bowler.sort_values(by='Wickets',ascending=False).shape

(24, 9)

# 2. a) Most Wickets

In [33]:
bowler[['Match Played','Over','Wickets','Average']].nlargest(13,'Wickets')

,,Match Played,Over,Wickets,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,1,4.0,5,5.4
Chris Woakes,Delhi Capitals,1,3.0,2,9.0
Jasprit Bumrah,Mumbai Indians,1,4.0,2,13.0
Marco Jansen,Mumbai Indians,1,4.0,2,14.0
Avesh Khan,Delhi Capitals,1,4.0,2,11.5
Shardul Thakur,Chennai Super Kings,1,3.4,2,26.5
DJ Bravo,Chennai Super Kings,1,4.0,1,28.0
Washington Sundar,Royal Challengers Banglore,1,1.0,1,7.0
Trent Boult,Mumbai Indians,1,4.0,1,36.0
Krunal Pandya,Mumbai Indians,1,4.0,1,25.0
Kyle Jamieson,Royal Challengers Banglore,1,4.0,1,27.0
Tom Curran,Delhi Capitals,1,4.0,1,40.0
Ravi Ashwin,Delhi Capitals,1,4.0,1,47.0

# 2. b) Best Bowling Average

In [34]:
bowler[['Match Played','Over','Wickets','Average']].nsmallest(13,'Average')

,,Match Played,Over,Wickets,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,1,4.0,5,5.4
Washington Sundar,Royal Challengers Banglore,1,1.0,1,7.0
Chris Woakes,Delhi Capitals,1,3.0,2,9.0
Avesh Khan,Delhi Capitals,1,4.0,2,11.5
Jasprit Bumrah,Mumbai Indians,1,4.0,2,13.0
Marco Jansen,Mumbai Indians,1,4.0,2,14.0
Krunal Pandya,Mumbai Indians,1,4.0,1,25.0
Shardul Thakur,Chennai Super Kings,1,3.4,2,26.5
Kyle Jamieson,Royal Challengers Banglore,1,4.0,1,27.0
DJ Bravo,Chennai Super Kings,1,4.0,1,28.0
Trent Boult,Mumbai Indians,1,4.0,1,36.0
Tom Curran,Delhi Capitals,1,4.0,1,40.0
Ravi Ashwin,Delhi Capitals,1,4.0,1,47.0

# 2. c) Best Economy

In [35]:
bowler[['Match Played','Over','Wickets','Economy']].nsmallest(15,'Economy')

,,Match Played,Over,Wickets,Economy
Players,Team,,,,
Mohammed Siraj,Royal Challengers Banglore,1,4.0,0,5.50
Avesh Khan,Delhi Capitals,1,4.0,2,5.75
Chris Woakes,Delhi Capitals,1,3.0,2,6.00
Krunal Pandya,Mumbai Indians,1,4.0,1,6.25
Jasprit Bumrah,Mumbai Indians,1,4.0,2,6.50
Harshal Patel,Royal Challengers Banglore,1,4.0,5,6.75
Kyle Jamieson,Royal Challengers Banglore,1,4.0,1,6.75
Marco Jansen,Mumbai Indians,1,4.0,2,7.00
DJ Bravo,Chennai Super Kings,1,4.0,1,7.00
Washington Sundar,Royal Challengers Banglore,1,1.0,1,7.00
Ravindra Jadeja,Chennai Super Kings,1,2.0,0,8.00
Trent Boult,Mumbai Indians,1,4.0,1,9.00
Amit Mishra,Delhi Capitals,1,3.0,0,9.00
Deepak Chahar,Chennai Super Kings,1,4.0,0,9.00
Tom Curran,Delhi Capitals,1,4.0,1,10.00

# 2. d) Best Bowling Strike Rate

In [36]:
bowler[['Match Played','Over','Wickets','Strike Rate']].nsmallest(13,'Strike Rate')

,,Match Played,Over,Wickets,Strike Rate
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,1,4.0,5,4.8
Washington Sundar,Royal Challengers Banglore,1,1.0,1,6.0
Chris Woakes,Delhi Capitals,1,3.0,2,9.0
Shardul Thakur,Chennai Super Kings,1,3.4,2,11.0
Jasprit Bumrah,Mumbai Indians,1,4.0,2,12.0
Marco Jansen,Mumbai Indians,1,4.0,2,12.0
Avesh Khan,Delhi Capitals,1,4.0,2,12.0
DJ Bravo,Chennai Super Kings,1,4.0,1,24.0
Trent Boult,Mumbai Indians,1,4.0,1,24.0
Krunal Pandya,Mumbai Indians,1,4.0,1,24.0
Kyle Jamieson,Royal Challengers Banglore,1,4.0,1,24.0
Tom Curran,Delhi Capitals,1,4.0,1,24.0
Ravi Ashwin,Delhi Capitals,1,4.0,1,24.0

# 3. FIELDER

In [37]:
fielder_played = df[['Team','Match Played','Catches','Run Out']]

# 3. a) Catches

In [38]:
 fielder_played.groupby(by=['Players','Team'])[['Match Played','Catches']].sum().nlargest(9,'Catches')

                                              Match Played  Catches
Players           Team
Shikhar Dhawan    Delhi Capitals                         1        3
Chris Lynn        Mumbai Indians                         1        2
Washington Sundar Royal Challengers Banglore             1        2
AB de Villiers    Royal Challengers Banglore             1        1
Daniel Christian  Royal Challengers Banglore             1        1
Krunal Pandya     Mumbai Indians                         1        1
Moeen Ali         Chennai Super Kings                    1        1
Rahul Chahar      Mumbai Indians                         1        1
Sam Curran        Chennai Super Kings                    1        1

# 3. b) Run Outs

In [39]:
fielder_played.groupby(by=['Players','Team'])[['Match Played','Run Out']].sum().nlargest(4,'Run Out')

                                           Match Played  Run Out
Players        Team
Virat Kohli    Royal Challengers Banglore             1        2
Chris Woakes   Delhi Capitals                         1        1
Jasprit Bumrah Mumbai Indians                         1        1
Krunal Pandya  Mumbai Indians                         1        1

# 4. ALL - ROUNDERS

In [40]:
All_Rounder = df.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','Over','Bowler Balls','Bowler Runs','Maiden','Wickets','Catches','Run Out','50s','100s']].sum()

In [41]:
all_rounder= All_Rounder[(All_Rounder['Balls'] >1) & (All_Rounder['Wickets'] >=1)]

In [42]:
all_rounder.shape

(6, 14)

In [43]:
all_rounder['Economy Rate'] = all_rounder['Bowler Runs']/all_rounder['Over']

In [44]:
all_rounder['Strike Rate'] = all_rounder['Batsman Runs']/all_rounder['Balls']*100

In [45]:
all_rounders= all_rounder.round(2)

# 4. a) All-rounder with highest Wickets

In [46]:
all_rounders[['Match Played','Batsman Runs','Wickets']].nlargest(10,'Wickets')

,,Match Played,Batsman Runs,Wickets
Players,Team,,,
Harshal Patel,Royal Challengers Banglore,1,4,5
Jasprit Bumrah,Mumbai Indians,1,1,2
Marco Jansen,Mumbai Indians,1,0,2
Krunal Pandya,Mumbai Indians,1,7,1
Kyle Jamieson,Royal Challengers Banglore,1,4,1
Washington Sundar,Royal Challengers Banglore,1,10,1

# 4. b) All-rounder with highest Runs

In [47]:
all_rounders[['Match Played','Batsman Runs','Wickets']].nlargest(10,'Batsman Runs')

,,Match Played,Batsman Runs,Wickets
Players,Team,,,
Washington Sundar,Royal Challengers Banglore,1,10,1
Krunal Pandya,Mumbai Indians,1,7,1
Harshal Patel,Royal Challengers Banglore,1,4,5
Kyle Jamieson,Royal Challengers Banglore,1,4,1
Jasprit Bumrah,Mumbai Indians,1,1,2
Marco Jansen,Mumbai Indians,1,0,2