In [2]:
import pandas as pd
import os
pd.options.mode.chained_assignment= None

In [3]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [4]:
# all_matches_data.to_csv('Combo_Match1_to_Match12.csv',index=False)

In [5]:
 df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match12.csv',index_col='Players')

In [6]:
df.Sixes.sum()

154

In [7]:
df.Fours.sum()

358

In [8]:
df.groupby('Team').Fours.sum().nlargest(8)

Team
Delhi Capitals                65
Royal Challengers Banglore    48
Kolkata Knight Riders         46
Punjab Kings                  45
Rajasthan Royals              44
Chennai Super Kings           42
Mumbai Indians                41
Sunrisers Hyderabad           27
Name: Fours, dtype: int64

In [9]:
df.groupby('Team').Sixes.sum().nlargest(8)

Team
Punjab Kings                  25
Rajasthan Royals              24
Chennai Super Kings           22
Sunrisers Hyderabad           22
Kolkata Knight Riders         20
Mumbai Indians                15
Royal Challengers Banglore    15
Delhi Capitals                11
Name: Sixes, dtype: int64

# BATSMAN

In [10]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0,0.0,0,0,0,0,RCB,Yes

In [11]:
batsman_played= df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s','Vs','Times Out']]

In [12]:
Batsman= batsman_played[batsman_played['Balls'] >=1]

In [13]:
Batsman.replace(to_replace=['Yes','No'],value=[0,1],inplace=True)

In [14]:
Batsman['Times Out'] = Batsman['Times Out'].astype(float)

In [15]:
BR= Batsman.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','50s','100s','Times Out']].sum().nlargest(100,columns=['Batsman Runs'])

In [16]:
BR['Strike Rate'] = BR['Batsman Runs']/BR['Balls']*100

In [17]:
batsman= BR.round(2)

In [18]:
batsman.loc[batsman['Times Out'] ==0,'Average']  = batsman['Batsman Runs']/batsman['Match Played']
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] == 1),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] >= 2),'Average'] = batsman['Batsman Runs']/(batsman['Match Played']-batsman['Times Out'])
batsman.loc[(batsman['Times Out'] == 2) & (batsman['Match Played'] == 2),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 3) & (batsman['Match Played'] == 3),'Average'] = batsman['Batsman Runs']
batsman.loc[(batsman['Times Out'] == 2) & (batsman['Match Played'] >= 3),'Average'] = batsman['Batsman Runs']/(batsman['Match Played']-1)

In [19]:
batsman.loc[batsman['Balls'] >=1 , 'Innings'] = batsman['Match Played']

In [20]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate,Average,Innings
Players,Team,,,,,,,,,,,
Shikhar Dhawan,Delhi Capitals,3,186,114,24,4,2,0,0.0,163.16,62.0,3

## Most Runs

In [21]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(1500,'Batsman Runs').round(2)

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
Shikhar Dhawan,Delhi Capitals,3,3,186,62.00
Glenn Maxwell,Royal Challengers Banglore,3,3,176,58.67
KL Rahul,Punjab Kings,3,3,157,52.33
Nitish Rana,Kolkata Knight Riders,3,3,155,51.67
AB de Villiers,Royal Challengers Banglore,3,3,125,62.50
...,...,...,...,...,...
Mustafizur Rahman,Rajasthan Royals,1,1,0,0.00
Shahbaz Nadeem,Sunrisers Hyderabad,1,1,0,0.00
Mohammed Siraj,Royal Challengers Banglore,1,1,0,0.00
Marco Jansen,Mumbai Indians,2,2,0,0.00
Ben Stokes,Rajasthan Royals,1,1,0,0.00

## Highest Scores

In [22]:
Batsman[['Batsman Runs','Balls','Strike Rate','Vs']].nlargest(15,'Batsman Runs')

                Batsman Runs  Balls  Strike Rate    Vs
Players
Sanju Samson             119     63       188.89  PBKS
Shikhar Dhawan            92     49       187.76  PBKS
KL Rahul                  91     50       182.00    RR
Shikhar Dhawan            85     54       157.41   CSK
Nitish Rana               80     56       142.86   SRH
Glenn Maxwell             78     49       159.18   KKR
AB de Villiers            76     34       223.53   KKR
Prithvi Shaw              72     38       189.47   CSK
Mayank Agarwal            69     36       191.67    DC
Deepak Hooda              64     28       228.57    RR
David Miller              62     43       144.19    DC
KL Rahul                  61     51       119.61    DC
Manish Pandey             61     44       138.64   KKR
Glenn Maxwell             59     41       143.90   SRH
Nitish Rana               57     47       121.28    MI

## Best Batting Strike Rate

In [23]:
SR= batsman[batsman['Batsman Runs'] >=50].nlargest(15,'Strike Rate')

In [24]:
SR[['Match Played','Innings','Batsman Runs','Strike Rate']].nlargest(15,'Strike Rate')

,,Match Played,Innings,Batsman Runs,Strike Rate
Players,Team,,,,
Sam Curran,Chennai Super Kings,3,3,52,208.00
AB de Villiers,Royal Challengers Banglore,3,3,125,189.39
Prithvi Shaw,Delhi Capitals,3,3,106,176.67
Mayank Agarwal,Punjab Kings,3,3,83,176.60
Sanju Samson,Rajasthan Royals,3,3,124,174.65
Deepak Hooda,Punjab Kings,3,3,96,171.43
Shikhar Dhawan,Delhi Capitals,3,3,186,163.16
Rahul Tripathi,Kolkata Knight Riders,3,3,83,153.70
Shahrukh Khan,Punjab Kings,3,3,68,151.11
Shubman Gill,Kolkata Knight Riders,3,3,69,150.00
Suryakumar Yadav,Mumbai Indians,3,3,97,149.23
Glenn Maxwell,Royal Challengers Banglore,3,3,176,149.15
Ambati Rayudu,Chennai Super Kings,3,3,50,147.06
Jonny Bairstow,Sunrisers Hyderabad,3,3,110,146.67
KL Rahul,Punjab Kings,3,3,157,145.37

## Best Batting Average

In [43]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(1500,'Average').round(2)

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
AB de Villiers,Royal Challengers Banglore,3,3,125,62.50
Shikhar Dhawan,Delhi Capitals,3,3,186,62.00
Glenn Maxwell,Royal Challengers Banglore,3,3,176,58.67
KL Rahul,Punjab Kings,3,3,157,52.33
Nitish Rana,Kolkata Knight Riders,3,3,155,51.67
...,...,...,...,...,...
Mustafizur Rahman,Rajasthan Royals,1,1,0,0.00
Shahbaz Nadeem,Sunrisers Hyderabad,1,1,0,0.00
Mohammed Siraj,Royal Challengers Banglore,1,1,0,0.00
Marco Jansen,Mumbai Indians,2,2,0,0.00
Ben Stokes,Rajasthan Royals,1,1,0,0.00

In [26]:
batsman[['Match Played','Innings','Batsman Runs','50s']].nlargest(10,'50s')

,,Match Played,Innings,Batsman Runs,50s
Players,Team,,,,
Shikhar Dhawan,Delhi Capitals,3,3,186,2
Glenn Maxwell,Royal Challengers Banglore,3,3,176,2
KL Rahul,Punjab Kings,3,3,157,2
Nitish Rana,Kolkata Knight Riders,3,3,155,2
AB de Villiers,Royal Challengers Banglore,3,3,125,1
Jonny Bairstow,Sunrisers Hyderabad,3,3,110,1
Prithvi Shaw,Delhi Capitals,3,3,106,1
Manish Pandey,Sunrisers Hyderabad,3,3,101,1
Suryakumar Yadav,Mumbai Indians,3,3,97,1
Deepak Hooda,Punjab Kings,3,3,96,1

In [27]:
batsman[['Match Played','Innings','Batsman Runs','Fours']].nlargest(10,'Fours')

,,Match Played,Innings,Batsman Runs,Fours
Players,Team,,,,
Shikhar Dhawan,Delhi Capitals,3,3,186,24
Glenn Maxwell,Royal Challengers Banglore,3,3,176,17
Nitish Rana,Kolkata Knight Riders,3,3,155,17
KL Rahul,Punjab Kings,3,3,157,15
AB de Villiers,Royal Challengers Banglore,3,3,125,13
Sanju Samson,Rajasthan Royals,3,3,124,13
Moeen Ali,Chennai Super Kings,3,3,108,12
Prithvi Shaw,Delhi Capitals,3,3,106,12
Suryakumar Yadav,Mumbai Indians,3,3,97,12
Rishabh Pant,Delhi Capitals,3,3,81,11

In [28]:
batsman[['Match Played','Innings','Batsman Runs','Sixes']].nlargest(10,'Sixes')

,,Match Played,Innings,Batsman Runs,Sixes
Players,Team,,,,
Glenn Maxwell,Royal Challengers Banglore,3,3,176,8
Deepak Hooda,Punjab Kings,3,3,96,8
KL Rahul,Punjab Kings,3,3,157,7
Nitish Rana,Kolkata Knight Riders,3,3,155,7
Sanju Samson,Rajasthan Royals,3,3,124,7
Jonny Bairstow,Sunrisers Hyderabad,3,3,110,7
AB de Villiers,Royal Challengers Banglore,3,3,125,5
Moeen Ali,Chennai Super Kings,3,3,108,5
Prithvi Shaw,Delhi Capitals,3,3,106,5
Manish Pandey,Sunrisers Hyderabad,3,3,101,5

# BOWLERS

In [29]:
bowler_played= df[['Team','Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets','Economy Rate','Vs']]

In [30]:
Bowler= bowler_played[bowler_played['Bowler Balls'] >=1]

In [31]:
W= Bowler.groupby(by=['Players','Team'])[['Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets']].sum().nlargest(100,'Wickets')

In [32]:
W['Economy'] = W['Bowler Runs']/W['Over']

In [33]:
W['Average'] = W['Bowler Runs']/W['Wickets']

In [34]:
W['Strike Rate'] = W['Bowler Balls']/W['Wickets']

In [35]:
bowler = W.round(2)

In [36]:
bowler.sort_values(by='Wickets',ascending=False).shape

(64, 9)

## Most Wickets

In [37]:
bowler[['Match Played','Over','Wickets','Average']].nlargest(10,'Wickets')

,,Match Played,Over,Wickets,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,3,12.0,9,7.67
Rahul Chahar,Mumbai Indians,3,12.0,7,12.71
Andre Russell,Kolkata Knight Riders,3,7.0,6,14.17
Avesh Khan,Delhi Capitals,3,12.0,6,14.67
Chetan Sakariya,Rajasthan Royals,3,12.0,6,16.67
Trent Boult,Mumbai Indians,3,11.4,6,15.17
Kyle Jamieson,Royal Challengers Banglore,3,10.0,5,19.60
Arshdeep Singh,Punjab Kings,3,9.0,5,12.80
Chris Morris,Rajasthan Royals,3,11.0,5,20.20
Chris Woakes,Delhi Capitals,3,11.0,5,16.40

## Best Bowling Average

In [38]:
BA= bowler[bowler['Wickets'] >5].nsmallest(10,'Average')

In [39]:
BA[['Match Played','Over','Bowler Runs','Wickets','Average']].nsmallest(40,'Average')

,,Match Played,Over,Bowler Runs,Wickets,Average
Players,Team,,,,,
Harshal Patel,Royal Challengers Banglore,3,12.0,69,9,7.67
Rahul Chahar,Mumbai Indians,3,12.0,89,7,12.71
Andre Russell,Kolkata Knight Riders,3,7.0,85,6,14.17
Avesh Khan,Delhi Capitals,3,12.0,88,6,14.67
Trent Boult,Mumbai Indians,3,11.4,91,6,15.17
Chetan Sakariya,Rajasthan Royals,3,12.0,100,6,16.67

## Best Bowling Strike Rate

In [40]:
SR= bowler[bowler['Wickets'] >=5].nsmallest(10,'Strike Rate')

In [41]:
SR[['Match Played','Over','Wickets','Strike Rate']].nsmallest(10,'Strike Rate')

,,Match Played,Over,Wickets,Strike Rate
Players,Team,,,,
Andre Russell,Kolkata Knight Riders,3,7.0,6,7.00
Harshal Patel,Royal Challengers Banglore,3,12.0,9,8.00
Rahul Chahar,Mumbai Indians,3,12.0,7,10.29
Arshdeep Singh,Punjab Kings,3,9.0,5,10.80
Trent Boult,Mumbai Indians,3,11.4,6,11.67
Avesh Khan,Delhi Capitals,3,12.0,6,12.00
Chetan Sakariya,Rajasthan Royals,3,12.0,6,12.00
Kyle Jamieson,Royal Challengers Banglore,3,10.0,5,12.00
Chris Morris,Rajasthan Royals,3,11.0,5,13.20
Chris Woakes,Delhi Capitals,3,11.0,5,13.20

## Best Economy

In [42]:
bowler[['Match Played','Over','Wickets','Economy']].nsmallest(10,'Economy')

,,Match Played,Over,Wickets,Economy
Players,Team,,,,
Abhishek Sharma,Sunrisers Hyderabad,1,1.0,0,5.00
Rashid Khan,Sunrisers Hyderabad,3,12.0,4,5.33
Jasprit Bumrah,Mumbai Indians,3,12.0,3,5.67
Harshal Patel,Royal Challengers Banglore,3,12.0,9,5.75
Mohammed Siraj,Royal Challengers Banglore,3,11.0,2,5.82
Khaleel Ahmed,Sunrisers Hyderabad,1,4.0,1,6.00
Krunal Pandya,Mumbai Indians,3,11.0,3,6.18
Ravindra Jadeja,Chennai Super Kings,3,10.0,2,6.30
Moeen Ali,Chennai Super Kings,3,9.0,4,6.33
Sam Curran,Chennai Super Kings,3,9.0,3,6.67