In [1]:
import pandas as pd
import os
pd.options.mode.chained_assignment= None

In [2]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [3]:
# all_matches_data.to_csv('Combo_Match1_to_Match8.csv',index=False)

In [4]:
 df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match8.csv',index_col='Players')

In [5]:
df.Sixes.sum()

92

In [6]:
df.Fours.sum()

243

In [7]:
df.groupby('Players').Wickets.sum().nlargest(5)

Players
Harshal Patel     7
Andre Russell     6
Avesh Khan        5
Arshdeep Singh    4
Chris Woakes      4
Name: Wickets, dtype: int64

In [8]:
df.groupby('Players')['Batsman Runs'].sum().nlargest(5)

Players
Nitish Rana      137
Sanju Samson     123
Manish Pandey     99
Glenn Maxwell     98
KL Rahul          96
Name: Batsman Runs, dtype: int64

In [9]:
df.groupby('Team').Sixes.sum().nlargest(8)

Team
Rajasthan Royals              18
Punjab Kings                  15
Sunrisers Hyderabad           14
Chennai Super Kings           12
Kolkata Knight Riders         11
Mumbai Indians                 9
Royal Challengers Banglore     8
Delhi Capitals                 5
Name: Sixes, dtype: int64

In [10]:
df.groupby('Team').Fours.sum().nlargest(8)

Team
Delhi Capitals                44
Rajasthan Royals              34
Kolkata Knight Riders         32
Mumbai Indians                31
Chennai Super Kings           28
Punjab Kings                  28
Royal Challengers Banglore    26
Sunrisers Hyderabad           20
Name: Fours, dtype: int64

In [11]:
df.groupby('Team').Wickets.sum().nlargest(8)

Team
Kolkata Knight Riders         15
Royal Challengers Banglore    15
Sunrisers Hyderabad           14
Delhi Capitals                13
Mumbai Indians                13
Rajasthan Royals              12
Punjab Kings                  11
Chennai Super Kings           10
Name: Wickets, dtype: int64

In [12]:
df.groupby('Team').Catches.sum().nlargest(8)

Team
Kolkata Knight Riders         13
Sunrisers Hyderabad           13
Royal Challengers Banglore    12
Rajasthan Royals              11
Delhi Capitals                10
Punjab Kings                  10
Mumbai Indians                 9
Chennai Super Kings            7
Name: Catches, dtype: int64

In [13]:
df.groupby('Team')['Run Out'].sum().nlargest(8)

Team
Mumbai Indians                3
Royal Challengers Banglore    3
Rajasthan Royals              2
Chennai Super Kings           1
Delhi Capitals                1
Kolkata Knight Riders         0
Punjab Kings                  0
Sunrisers Hyderabad           0
Name: Run Out, dtype: int64

In [14]:
df.groupby('Team')['Bowler Runs'].sum().nsmallest(8)

Team
Mumbai Indians                291
Chennai Super Kings           296
Royal Challengers Banglore    296
Punjab Kings                  317
Kolkata Knight Riders         323
Delhi Capitals                329
Sunrisers Hyderabad           333
Rajasthan Royals              368
Name: Bowler Runs, dtype: int64

In [15]:
df.groupby('Team')['Batsman Runs'].sum().nlargest(8)

Team
Rajasthan Royals              355
Delhi Capitals                328
Punjab Kings                  317
Kolkata Knight Riders         310
Sunrisers Hyderabad           301
Mumbai Indians                300
Royal Challengers Banglore    287
Chennai Super Kings           278
Name: Batsman Runs, dtype: int64

# BATSMAN

In [16]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0,0.0,0,0,0,0,RCB,Yes

In [17]:
batsman_played= df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s','Vs','Times Out']]

In [18]:
Batsman= batsman_played[batsman_played['Balls'] >=1]

In [19]:
Batsman.replace(to_replace=['Yes','No'],value=[0,1],inplace=True)

In [20]:
Batsman['Times Out'] = Batsman['Times Out'].astype(float)

In [21]:
BR= Batsman.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','50s','100s','Times Out']].sum().nlargest(100,columns=['Batsman Runs'])

In [22]:
BR['Strike Rate'] = BR['Batsman Runs']/BR['Balls']*100

In [23]:
batsman= BR.round(2)

In [24]:
batsman.loc[batsman['Times Out'] ==0,'Average']  = batsman['Batsman Runs']/batsman['Match Played']
batsman.loc[batsman['Times Out'] >=1,'Average'] = batsman['Batsman Runs']

In [25]:
batsman.loc[batsman['Balls'] >=1 , 'Innings'] = batsman['Match Played']

In [26]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate,Average,Innings
Players,Team,,,,,,,,,,,
Nitish Rana,Kolkata Knight Riders,2,137,103,15,6,2,0,0.0,133.01,68.5,2

## Most Runs

In [27]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(15,'Batsman Runs')

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
Nitish Rana,Kolkata Knight Riders,2,2,137,68.5
Sanju Samson,Rajasthan Royals,2,2,123,61.5
Manish Pandey,Sunrisers Hyderabad,2,2,99,99.0
Glenn Maxwell,Royal Challengers Banglore,2,2,98,49.0
KL Rahul,Punjab Kings,2,2,96,48.0
Shikhar Dhawan,Delhi Capitals,2,2,94,47.0
Suryakumar Yadav,Mumbai Indians,2,2,87,43.5
Moeen Ali,Chennai Super Kings,2,2,82,41.0
Deepak Hooda,Punjab Kings,2,2,74,37.0
Prithvi Shaw,Delhi Capitals,2,2,74,37.0
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,33.5
Virat Kohli,Royal Challengers Banglore,2,2,66,33.0
Rishabh Pant,Delhi Capitals,2,2,66,66.0
Rohit Sharma,Mumbai Indians,2,2,62,31.0
David Miller,Rajasthan Royals,1,1,62,62.0

## Highest Scores

In [28]:
Batsman[['Batsman Runs','Balls','Strike Rate','Vs']].nlargest(15,'Batsman Runs')

                  Batsman Runs  Balls  Strike Rate    Vs
Players
Sanju Samson               119     63       188.89  PBKS
KL Rahul                    91     50       182.00    RR
Shikhar Dhawan              85     54       157.41   CSK
Nitish Rana                 80     56       142.86   SRH
Prithvi Shaw                72     38       189.47   CSK
Deepak Hooda                64     28       228.57    RR
David Miller                62     43       144.19    DC
Manish Pandey               61     44       138.64   KKR
Glenn Maxwell               59     41       143.90   SRH
Nitish Rana                 57     47       121.28    MI
Suryakumar Yadav            56     36       155.56   KKR
Jonny Bairstow              55     40       137.50   KKR
Suresh Raina                54     36       150.00    DC
David Warner                54     37       145.95   RCB
Rahul Tripathi              53     29       182.76   SRH

## Best Batting Average

In [29]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(15,'Average')

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
Manish Pandey,Sunrisers Hyderabad,2,2,99,99.0
Nitish Rana,Kolkata Knight Riders,2,2,137,68.5
Rishabh Pant,Delhi Capitals,2,2,66,66.0
David Miller,Rajasthan Royals,1,1,62,62.0
Sanju Samson,Rajasthan Royals,2,2,123,61.5
Shahrukh Khan,Punjab Kings,2,2,53,53.0
Glenn Maxwell,Royal Challengers Banglore,2,2,98,49.0
Chris Lynn,Mumbai Indians,1,1,49,49.0
KL Rahul,Punjab Kings,2,2,96,48.0
Shikhar Dhawan,Delhi Capitals,2,2,94,47.0
Suryakumar Yadav,Mumbai Indians,2,2,87,43.5
Moeen Ali,Chennai Super Kings,2,2,82,41.0
Sam Curran,Chennai Super Kings,2,2,39,39.0
Chris Morris,Rajasthan Royals,2,2,38,38.0
Deepak Hooda,Punjab Kings,2,2,74,37.0

## Best Batting Strike Rate

In [30]:
SR= batsman[batsman['Batsman Runs'] >=50].nlargest(15,'Strike Rate')

In [31]:
SR[['Match Played','Innings','Batsman Runs','Strike Rate']].nlargest(15,'Strike Rate')

,,Match Played,Innings,Batsman Runs,Strike Rate
Players,Team,,,,
Sanju Samson,Rajasthan Royals,2,2,123,186.36
Deepak Hooda,Punjab Kings,2,2,74,172.09
Prithvi Shaw,Delhi Capitals,2,2,74,172.09
Rahul Tripathi,Kolkata Knight Riders,2,2,58,170.59
KL Rahul,Punjab Kings,2,2,96,168.42
Rishabh Pant,Delhi Capitals,2,2,66,150.00
Moeen Ali,Chennai Super Kings,2,2,82,149.09
Suryakumar Yadav,Mumbai Indians,2,2,87,147.46
Shikhar Dhawan,Delhi Capitals,2,2,94,144.62
David Miller,Rajasthan Royals,1,1,62,144.19
Glenn Maxwell,Royal Challengers Banglore,2,2,98,142.03
David Warner,Sunrisers Hyderabad,2,2,57,139.02
Suresh Raina,Chennai Super Kings,2,2,62,137.78
Nitish Rana,Kolkata Knight Riders,2,2,137,133.01
Shahrukh Khan,Punjab Kings,2,2,53,132.50

## Most Fours

In [32]:
batsman[['Match Played','Innings','Batsman Runs','Fours']].nlargest(10,'Fours')

,,Match Played,Innings,Batsman Runs,Fours
Players,Team,,,,
Nitish Rana,Kolkata Knight Riders,2,2,137,15
Sanju Samson,Rajasthan Royals,2,2,123,13
Shikhar Dhawan,Delhi Capitals,2,2,94,11
Suryakumar Yadav,Mumbai Indians,2,2,87,11
Moeen Ali,Chennai Super Kings,2,2,82,11
Rishabh Pant,Delhi Capitals,2,2,66,11
Prithvi Shaw,Delhi Capitals,2,2,74,9
Glenn Maxwell,Royal Challengers Banglore,2,2,98,8
KL Rahul,Punjab Kings,2,2,96,8
Virat Kohli,Royal Challengers Banglore,2,2,66,8

## Most Sixes

In [33]:
batsman[['Match Played','Innings','Batsman Runs','Sixes']].nlargest(10,'Sixes')

,,Match Played,Innings,Batsman Runs,Sixes
Players,Team,,,,
Sanju Samson,Rajasthan Royals,2,2,123,7
Nitish Rana,Kolkata Knight Riders,2,2,137,6
Deepak Hooda,Punjab Kings,2,2,74,6
Manish Pandey,Sunrisers Hyderabad,2,2,99,5
Glenn Maxwell,Royal Challengers Banglore,2,2,98,5
KL Rahul,Punjab Kings,2,2,96,5
Suresh Raina,Chennai Super Kings,2,2,62,4
Chris Morris,Rajasthan Royals,2,2,38,4
Suryakumar Yadav,Mumbai Indians,2,2,87,3
Moeen Ali,Chennai Super Kings,2,2,82,3

In [34]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0,0.0,0,0,0,0,RCB,Yes

# BOWLERS

In [35]:
bowler_played= df[['Team','Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets','Economy Rate','Vs']]

In [36]:
Bowler= bowler_played[bowler_played['Bowler Balls'] >=1]

In [37]:
W= Bowler.groupby(by=['Players','Team'])[['Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets']].sum().nlargest(100,'Wickets')

In [38]:
W['Economy'] = W['Bowler Runs']/W['Over']

In [39]:
W['Average'] = W['Bowler Runs']/W['Wickets']

In [40]:
W['Strike Rate'] = W['Bowler Balls']/W['Wickets']

In [41]:
bowler = W.round(2)

In [42]:
bowler.sort_values(by='Wickets',ascending=False).shape

(55, 9)

## Most Wickets

In [43]:
bowler[['Match Played','Over','Wickets','Average']].nlargest(10,'Wickets')

,,Match Played,Over,Wickets,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,2,8.0,7,7.43
Andre Russell,Kolkata Knight Riders,2,5.0,6,7.83
Avesh Khan,Delhi Capitals,2,8.0,5,11.00
Deepak Chahar,Chennai Super Kings,2,8.0,4,12.25
Chris Woakes,Delhi Capitals,2,7.0,4,10.00
Rahul Chahar,Mumbai Indians,2,8.0,4,17.50
Rashid Khan,Sunrisers Hyderabad,2,8.0,4,10.50
Mohammed Shami,Punjab Kings,2,8.0,4,13.50
Arshdeep Singh,Punjab Kings,2,6.0,4,10.50
Chris Morris,Rajasthan Royals,2,7.0,3,22.67

## Best Bowling Average

In [44]:
bowler[['Match Played','Over','Bowler Runs','Wickets','Average']].nsmallest(10,'Average')

,,Match Played,Over,Bowler Runs,Wickets,Average
Players,Team,,,,,
Jaydev Unadkat,Rajasthan Royals,1,4.0,15,3,5.00
Shahbaz Ahmed,Royal Challengers Banglore,2,3.0,21,3,7.00
Harshal Patel,Royal Challengers Banglore,2,8.0,52,7,7.43
Andre Russell,Kolkata Knight Riders,2,5.0,47,6,7.83
Chris Woakes,Delhi Capitals,2,7.0,40,4,10.00
Jason Holder,Sunrisers Hyderabad,1,4.0,30,3,10.00
Rashid Khan,Sunrisers Hyderabad,2,8.0,42,4,10.50
Arshdeep Singh,Punjab Kings,2,6.0,42,4,10.50
Avesh Khan,Delhi Capitals,2,8.0,55,5,11.00
Deepak Chahar,Chennai Super Kings,2,8.0,49,4,12.25

## Best Bowling Strike Rate

In [45]:
SR= bowler[bowler['Wickets'] >=5].nlargest(5,'Strike Rate')

In [46]:
SR[['Match Played','Over','Wickets','Strike Rate']].nsmallest(5,'Strike Rate')

,,Match Played,Over,Wickets,Strike Rate
Players,Team,,,,
Andre Russell,Kolkata Knight Riders,2,5.0,6,5.00
Harshal Patel,Royal Challengers Banglore,2,8.0,7,6.86
Avesh Khan,Delhi Capitals,2,8.0,5,9.60

## Best Economy

In [47]:
bowler[['Match Played','Over','Wickets','Economy']].nsmallest(10,'Economy')

,,Match Played,Over,Wickets,Economy
Players,Team,,,,
Jaydev Unadkat,Rajasthan Royals,1,4.0,3,3.75
Krunal Pandya,Mumbai Indians,2,8.0,2,4.75
Rashid Khan,Sunrisers Hyderabad,2,8.0,4,5.25
Chris Woakes,Delhi Capitals,2,7.0,4,5.71
Ravindra Jadeja,Chennai Super Kings,2,6.0,0,5.83
Mohammed Siraj,Royal Challengers Banglore,2,8.0,2,5.88
Deepak Chahar,Chennai Super Kings,2,8.0,4,6.12
DJ Bravo,Chennai Super Kings,2,6.0,2,6.33
Harshal Patel,Royal Challengers Banglore,2,8.0,7,6.50
Mohammed Shami,Punjab Kings,2,8.0,4,6.75

In [48]:
batsman.shape

(79, 11)

In [50]:
bowler.shape

(55, 9)

In [51]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate,Average,Innings
Players,Team,,,,,,,,,,,
Nitish Rana,Kolkata Knight Riders,2,137,103,15,6,2,0,0.0,133.01,68.5,2

In [66]:
batsman[(batsman['Times Out']>=1) & (batsman['Batsman Runs'] >=30)& batsman['Average'].between(30,45)].nlargest(8,'Strike Rate')

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate,Average,Innings
Players,Team,,,,,,,,,,,
Sam Curran,Chennai Super Kings,2,39,19,5,2,0,0,1.0,205.26,39.0,2
Chris Morris,Rajasthan Royals,2,38,22,0,4,0,0,2.0,172.73,38.0,2
Dinesh Karthik,Kolkata Knight Riders,2,30,20,2,1,0,0,2.0,150.00,30.0,2
du Plessis,Chennai Super Kings,2,36,36,3,1,0,0,1.0,100.00,36.0,2