In [1]:
import pandas as pd
import os

In [2]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [3]:
all_matches_data.to_csv('Combo_Match1_to_Match4.csv',index=False)

In [4]:
df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match4.csv',index_col='Players')

In [5]:
df.shape

(88, 16)

In [6]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s
Players,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0.0,0,0,0,0

In [7]:
df['Sixes'].sum()

67

In [8]:
df['Fours'].sum()

134

In [9]:
df['Batsman Runs'].nlargest(5)

Players
Sanju Samson      119
KL Rahul           91
Shikhar Dhawan     85
Nitish Rana        80
Prithvi Shaw       72
Name: Batsman Runs, dtype: int64

In [10]:
df['Wickets'].nlargest(5)

Players
Harshal Patel      5
Arshdeep Singh     3
Chetan Sakariya    3
Marco Jansen       2
Jasprit Bumrah     2
Name: Wickets, dtype: int64

In [11]:
df['Fours'].nlargest(5)

Players
Sanju Samson      12
Shikhar Dhawan    10
Prithvi Shaw       9
Nitish Rana        9
KL Rahul           7
Name: Fours, dtype: int64

In [12]:
df['Sixes'].nlargest(5)

Players
Sanju Samson    7
Deepak Hooda    6
KL Rahul        5
Suresh Raina    4
Nitish Rana     4
Name: Sixes, dtype: int64

In [13]:
all_batsman= df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s']]

In [14]:
Batsman=all_batsman[all_batsman['Balls']>=1]

In [15]:
Batsman[(Batsman['Batsman Runs'] >=50) ].nlargest(5,'Strike Rate')

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s
Players,,,,,,,,,
Deepak Hooda,Punjab Kings,1,64,28,4,6,228.57,1,0
Prithvi Shaw,Delhi Capitals,1,72,38,9,3,189.47,1,0
Sanju Samson,Rajasthan Royals,1,119,63,12,7,188.89,0,1
Rahul Tripathi,Kolkata Knight Riders,1,53,29,5,2,182.76,1,0
KL Rahul,Punjab Kings,1,91,50,7,5,182.00,1,0

In [16]:
Batsman[Batsman['Balls'].between(25,35)].nlargest(10,'Strike Rate')

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s
Players,,,,,,,,,
Deepak Hooda,Punjab Kings,1,64,28,4,6,228.57,1,0
Rahul Tripathi,Kolkata Knight Riders,1,53,29,5,2,182.76,1,0
AB de Villiers,Royal Challengers Banglore,1,48,27,4,2,177.78,0,0
Chris Gayle,Punjab Kings,1,40,28,4,2,142.86,0,0
Chris Lynn,Mumbai Indians,1,49,35,4,3,140.00,0,0
Glenn Maxwell,Royal Challengers Banglore,1,39,28,3,2,139.29,0,0
Virat Kohli,Royal Challengers Banglore,1,33,29,4,0,113.79,0,0

In [17]:
Batsman[(Batsman['Strike Rate'].between(150,200)) &(Batsman['Fours'] >=5)].nlargest(10,'Batsman Runs')

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s
Players,,,,,,,,,
Sanju Samson,Rajasthan Royals,1,119,63,12,7,188.89,0,1
KL Rahul,Punjab Kings,1,91,50,7,5,182.00,1,0
Shikhar Dhawan,Delhi Capitals,1,85,54,10,2,157.41,1,0
Prithvi Shaw,Delhi Capitals,1,72,38,9,3,189.47,1,0
Rahul Tripathi,Kolkata Knight Riders,1,53,29,5,2,182.76,1,0
Jos Butler,Rajasthan Royals,1,25,13,5,0,192.31,0,0

In [18]:
Batsman[(Batsman['Fours'] >=4) &(Batsman['Sixes'] >=2) &(Batsman['Balls'].between(20,30))].nlargest(5,'Batsman Runs')

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s
Players,,,,,,,,,
Deepak Hooda,Punjab Kings,1,64,28,4,6,228.57,1,0
Rahul Tripathi,Kolkata Knight Riders,1,53,29,5,2,182.76,1,0
AB de Villiers,Royal Challengers Banglore,1,48,27,4,2,177.78,0,0
Chris Gayle,Punjab Kings,1,40,28,4,2,142.86,0,0
Moeen Ali,Chennai Super Kings,1,36,24,4,2,150.00,0,0

In [19]:
print(df.Team.unique())

['Mumbai Indians' 'Royal Challengers Banglore' 'Chennai Super Kings'
 'Delhi Capitals' 'Kolkata Knight Riders' 'Sunrisers Hyderabad'
 'Punjab Kings' 'Rajasthan Royals']

In [20]:
Batsman[Batsman['Team'] == 'Sunrisers Hyderabad'].nlargest(3,'Sixes')

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s
Players,,,,,,,,,
Manish Pandey,Sunrisers Hyderabad,1,61,44,2,3,138.64,1,0
Jonny Bairstow,Sunrisers Hyderabad,1,55,40,5,3,137.50,1,0
Abdul Samad,Sunrisers Hyderabad,1,19,8,0,2,237.50,0,0

In [21]:
x=list(Batsman.groupby('Team'))

In [22]:
x[0][1].nlargest(2,'Fours')

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s
Players,,,,,,,,,
Moeen Ali,Chennai Super Kings,1,36,24,4,2,150.00,0,0
Sam Curran,Chennai Super Kings,1,34,15,4,2,226.67,0,0

In [23]:
x[1][1].nlargest(2,'Sixes')

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s
Players,,,,,,,,,
Prithvi Shaw,Delhi Capitals,1,72,38,9,3,189.47,1,0
Shikhar Dhawan,Delhi Capitals,1,85,54,10,2,157.41,1,0

In [24]:
x[2][1].nlargest(2,'Strike Rate')

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s
Players,,,,,,,,,
Dinesh Karthik,Kolkata Knight Riders,1,22,9,2,1,244.44,0,0
Rahul Tripathi,Kolkata Knight Riders,1,53,29,5,2,182.76,1,0

In [25]:
Fours=Batsman.groupby('Team').Fours.sum().nlargest(10)

In [26]:
Fours

Team
Delhi Capitals                24
Rajasthan Royals              22
Kolkata Knight Riders         18
Punjab Kings                  18
Chennai Super Kings           16
Mumbai Indians                15
Royal Challengers Banglore    12
Sunrisers Hyderabad            9
Name: Fours, dtype: int64

In [27]:
# %matplotlib  inline
# import matplotlib.pyplot as plt
# plt.style.use('seaborn')

In [28]:
# Fours.plot(kind='bar',figsize=(10,6),fontsize=10)
# plt.show()

In [29]:
Sixes= Batsman.groupby('Team').Sixes.sum().nlargest(10)

In [30]:
Sixes

Team
Punjab Kings                  13
Rajasthan Royals              11
Chennai Super Kings           10
Sunrisers Hyderabad           10
Kolkata Knight Riders          8
Mumbai Indians                 6
Delhi Capitals                 5
Royal Challengers Banglore     4
Name: Sixes, dtype: int64

In [31]:
# Sixes.plot(kind='bar',figsize=(10,6),fontsize=10)
# plt.show()

In [32]:
Fifty = Batsman.groupby('Team')['50s'].sum().nlargest(10)

In [33]:
Fifty

Team
Delhi Capitals                2
Kolkata Knight Riders         2
Punjab Kings                  2
Sunrisers Hyderabad           2
Chennai Super Kings           1
Mumbai Indians                0
Rajasthan Royals              0
Royal Challengers Banglore    0
Name: 50s, dtype: int64

In [34]:
Hundred = Batsman.groupby('Team')['100s'].sum().nlargest(10)

In [35]:
Hundred

Team
Rajasthan Royals              1
Chennai Super Kings           0
Delhi Capitals                0
Kolkata Knight Riders         0
Mumbai Indians                0
Punjab Kings                  0
Royal Challengers Banglore    0
Sunrisers Hyderabad           0
Name: 100s, dtype: int64

# Bowler

In [36]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s
Players,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0.0,0,0,0,0

In [37]:
all_bowler=df[['Team','Match Played','Over','Maiden','Bowler Runs','Wickets','Economy Rate']]

In [38]:
Bowler=all_bowler[all_bowler['Over'] >=0.1]

In [39]:
Bowler.shape

(49, 7)

In [40]:
print(Bowler.Team.unique())

['Mumbai Indians' 'Royal Challengers Banglore' 'Chennai Super Kings'
 'Delhi Capitals' 'Kolkata Knight Riders' 'Sunrisers Hyderabad'
 'Punjab Kings' 'Rajasthan Royals']

In [41]:
Bowler.Over.unique()

array([4. , 1. , 2. , 3. , 3.4])

In [42]:
Bowler['Bowler Runs'].unique()

array([25, 28, 43, 26, 36,  7, 14, 21, 27, 22, 41, 33, 16, 24, 53, 18, 47,
       40, 23, 32, 34, 30,  8, 35, 45, 37, 55, 49, 12, 20, 31],
      dtype=int64)

In [43]:
Bowler['Economy Rate'].unique()

array([ 6.3,  7. , 10.8,  6.5,  9. , 14. , 10.5,  6.8,  5.5, 10.3, 11. ,
        8. , 12. , 14.5, 13. ,  6. , 11.8, 10. ,  5.8, 10.7,  8.5,  7.5,
        8.8, 11.2,  9.2, 11.7, 13.8, 12.3,  8.3, 20. , 12.5, 13.3,  7.8,
       11.3])

In [44]:
Wickets= Bowler.groupby('Team').Wickets.sum()

In [45]:
Wickets

Team
Chennai Super Kings           3
Delhi Capitals                6
Kolkata Knight Riders         5
Mumbai Indians                6
Punjab Kings                  7
Rajasthan Royals              6
Royal Challengers Banglore    7
Sunrisers Hyderabad           6
Name: Wickets, dtype: int64

In [46]:
Economy_Rate =  Bowler.groupby('Team')['Economy Rate'].mean().nsmallest(10)

In [47]:
Economy_Rate

Team
Mumbai Indians                 7.920000
Royal Challengers Banglore     8.700000
Kolkata Knight Riders          8.750000
Delhi Capitals                 9.266667
Sunrisers Hyderabad           10.016667
Chennai Super Kings           10.250000
Punjab Kings                  10.800000
Rajasthan Royals              11.775000
Name: Economy Rate, dtype: float64

In [48]:
# Economy_Rate.plot(kind='bar',figsize=(10,6),fontsize=10)
# plt.show()

In [49]:
Bowler.head(1)

,Team,Match Played,Over,Maiden,Bowler Runs,Wickets,Economy Rate
Players,,,,,,,
Krunal Pandya,Mumbai Indians,1,4.0,0,25,1,6.3

In [50]:
Bowler[(Bowler['Over'] >=2) & (Bowler['Economy Rate'].between(4,7)) & (Bowler['Wickets'] >= 2)].nsmallest(10,'Economy Rate')

,Team,Match Played,Over,Maiden,Bowler Runs,Wickets,Economy Rate
Players,,,,,,,
Avesh Khan,Delhi Capitals,1,4.0,0,23,2,5.8
Chris Woakes,Delhi Capitals,1,3.0,0,18,2,6.0
Rashid Khan,Sunrisers Hyderabad,1,4.0,0,24,2,6.0
Jasprit Bumrah,Mumbai Indians,1,4.0,0,26,2,6.5
Harshal Patel,Royal Challengers Banglore,1,4.0,0,27,5,6.8
Marco Jansen,Mumbai Indians,1,4.0,0,28,2,7.0

In [51]:
run_wicket=df[(df['Batsman Runs'] >=1) &(df['Wickets'] >=1)].nlargest(5,'Batsman Runs')

In [52]:
run_wicket[['Batsman Runs','Wickets']]

                   Batsman Runs  Wickets
Players
Riyan Parag                  25        1
Mohammad Nabi                14        2
Washington Sundar            10        1
Krunal Pandya                 7        1
Andre Russell                 5        1